/* PAGE LAYOUT ELEMENTS */
body {
  background: #EAEAEA;
  font: normal 13px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

#wrapper {
	width: 800px;
	/* TOP RIGHT BOTTOM LEFT */
	margin: 32px auto 0 auto;
	position: relative;
}

header {
	margin: auto;
	width: 200px;
	height: 100px; }

nav {
	float: left;
	width: 200px;
	height: 400px;
	background-color: #FFFFFF;
	margin: auto; }

article {
	float: left;
	width: 500px;
	margin: 0 0 0 20px; }
	
article section {
	float: left;
	width: 480px;
	margin: 0 0 10px 0;
	padding: 10px;
	background-color: #FFFFFF; }

.button {
  background-color: #C7F464; /* NEW COLOR: C7F464
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C7F464), color-stop(100%, #cbe0f5));
  background-image: -webkit-linear-gradient(top, #C7F464, #cbe0f5);
  background-image: -moz-linear-gradient(top, #C7F464, #cbe0f5);
  background-image: -ms-linear-gradient(top, #C7F464, #cbe0f5);
  background-image: -o-linear-gradient(top, #C7F464, #cbe0f5);
  background-image: linear-gradient(top, #C7F464, #cbe0f5); */
  border-top: 1px solid #94c948;
  border-left: 1px solid #94c948;
  border-bottom: 1px solid #94c948;
  border-right: 1px solid #94c948;
  border-radius: 12px;
  -webkit-box-shadow: inset 0 1px 0 0 white;
  box-shadow: inset 0 1px 0 0 white;
  color: #1a3e66;
  font: normal 13px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  padding: 6px 0 7px 0;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
  width: 150px; 
  margin: 12px auto 12px; 
  display: block; }
  
 .button:hover {
   background-color: #b7ea6c;/*
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccd9e8), color-stop(100%, #c1d4e8));
   background-image: -webkit-linear-gradient(top, #ccd9e8, #c1d4e8);
   background-image: -moz-linear-gradient(top, #ccd9e8, #c1d4e8);
   background-image: -ms-linear-gradient(top, #ccd9e8, #c1d4e8);
   background-image: -o-linear-gradient(top, #ccd9e8, #c1d4e8);
   background-image: linear-gradient(top, #ccd9e8, #c1d4e8);*/
   border-top: 1px solid #9bcb4d;
   border-left: 1px solid #9bcb4d;
   border-bottom: 1px solid #9bcb4d;
   border-right: 1px solid #9bcb4d;
   -webkit-box-shadow: inset 0 1px 0 0 #f2f2f2;
   box-shadow: inset 0 1px 0 0 #f2f2f2;
   color: #163659;
   cursor: pointer; }
   
 /*.button:active { MIGHT COME BACK AND ADD THIS LATER
   border: 1px solid #9bcb4d;
   -webkit-box-shadow: inset 0 0 4px 2px #9bcb4d, 0 0 1px 0 #eeeeee;
   box-shadow: inset 0 0 4px 2px #9bcb4d, 0 0 1px 0 #eeeeee; }*/
	
/* Typography */
h1, h2, h3, h4, h5, h6 {
	font: normal 18px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

a { color: inherit ;
	text-decoration: none;}

p {
	line-height: 14pt;
}

.script {
	font-family: Parisienne;
	font-size: 28px;
	float: left;
}

/* GAME INFO ELEMENTS */
section#game-area {
  text-align: center;
}

div.info {
  display: none;
}

#this-game {
  float: left;
  font-size: 9pt;
}

#winner {
  float: left;
}

/* GAME BOARD ELEMENTS */
#metaboard {
  width: 288px;
  height: 288px;
  margin: 20px auto;
}

div.board {
  position: relative;
  float: left;
  width: 80px;
  height: 80px;
  margin: 8px;
}

.board .mark {
  color: ##3ACFC3; /* Fallback for older browsers */
  color: rgba(3, 172, 252, 0.5);
  font-size: 72pt;
  font-weight: bold;
  position: absolute; }

.board .X {
  top: -14px;
  left: 8px; }

.board .O {
  top: -14px;
  left: 0px; }

div.cell {
  float: left;
  width: 20px;
  height: 20px;
  border: none;
  margin: 0px;
  padding: 2px;
  font-size: 12pt;
}

div.cell.playable {
  background-color: #F0FE9A;
}

div.cell.hover {
  background: #3ACFC3;
}

div.l {
  border-right: 1pt solid black;
}

div.c {
}

div.r {
  border-left: 1pt solid black;
}

div.t {
  border-bottom: 1pt solid black;
}

div.m {
}

div.b {
  border-top: 1pt solid black;
}