/* PAGE LAYOUT ELEMENTS */

body {
  background: #EAEAEA;
  font: normal 13px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1.231; 
}

#wrapper {
	width: 840px;
	margin: 36px auto 0px auto;
	position: relative;
}

header {
	text-align: center;
	margin: auto;
	position: relative;
	width: 200px; 
	height: 90px;}
	
header #meta {
	font-family: Parisienne;
	font-size: 44px;
	font-weight: bold;
	position: absolute;
	top: 8px;
	left: -8px;
	color: #1a3e66;
}

header #tictactoe {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 28px;
	position: absolute;
	top: 18px;
	left: 101px;
}

header a {
	color: inherit;
}

nav {
	float: left;
	width: 185px;
	padding: 18px 14px;
	background-color: #FFFFFF; 
	box-shadow: -5px 5px 2px #DBDBDB; 
	text-align: center; }

article {
	float: left;
	width: 600px;
	margin: 0 0 36px 18px; }
	
article section {
	float: left;
	width: 570px;
	margin: 0 0 18px 0;
	padding: 5px 15px 5px;
	background-color: #FFFFFF; 
	box-shadow: -5px 5px 2px #DBDBDB; }
	
div.example {
	text-align: center;
	float: left;
	width: 50%;
}

div.example.small {
	width: 20%;
}

div.board_wrapper {
	margin: auto;
	width: 63.3px;
}

div.example.medium {
	width: 40%
}

.button {
  background-color: #C7F464; 
  border-top: 1px solid #94c948;
  border-left: 1px solid #94c948;
  border-bottom: 1px solid #94c948;
  border-right: 1px solid #94c948;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 1px 0 0 white;
  box-shadow: inset 0 1px 0 0 white;
  color: #242424;
  font: bold 13px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  padding: 14px 0 15px 0;
  text-align: center;
  text-shadow: 0 1px 1px #EAEAEA;
  width: 160px; 
  margin: 12px auto 26px; 
  display: block; }
  
 .button:hover {
   background-color: #b7ea6c;
   border-top: 1px solid #9bcb4d;
   border-left: 1px solid #9bcb4d;
   border-bottom: 1px solid #9bcb4d;
   border-right: 1px solid #9bcb4d;
   -webkit-box-shadow: inset 0 1px 0 0 #f2f2f2;
   box-shadow: inset 0 1px 0 0 #f2f2f2;
   cursor: pointer; }
   
 /*.button:active { MIGHT COME BACK AND ADD THIS LATER
   border: 1px solid #9bcb4d;
   -webkit-box-shadow: inset 0 0 4px 2px #9bcb4d, 0 0 1px 0 #eeeeee;
   box-shadow: inset 0 0 4px 2px #9bcb4d, 0 0 1px 0 #eeeeee; }*/
	
/* Typography */
h1, h2, h3, h4, h5, h6 {
	font: bold 18px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

a { text-decoration: none;}

p { line-height: 14pt; }

.example p {
	min-height: 36px;
}

.script {
	font-family: Parisienne;
	font-size: 28px;
	float: left;
}

/* GAME INFO ELEMENTS */
section#game-area {
  text-align: center;
}

div.info {
  line-height: 12pt;
  margin: 14pt;
  display: none;
}

#this-game {
  font-size: 9pt;
  margin: 0 auto 20pt;
}

#game-link {
	width: 350px;
	font: inherit;
	padding: 1px 3px;
}

#play-ai {
	color: blue;
	cursor: pointer;
}

/* GAME BOARD ELEMENTS */
.metaboard {
  width: 324px;
  height: 324px;
  margin: 20px auto 20px;
}

.example .metaboard {
  width: 192px;
  height: 192px; 
  margin: 14px auto 14px; }

div.board {
  position: relative;
  float: left;
  width: 80px;
  height: 80px;
  margin: 14px; }

.example div.board {
  width: 42px;
  height: 42px;
  margin: 11px;
}

.board .mark {
  font-size: 72pt;
  line-height: 76pt;
  font-weight: bold;
  position: absolute; 
  pointer-events:none; }
 
.example .board .mark {
  font-size: 38pt;
 }
 
 .game-piece {
  font-weight: bold;
 }

.board .X {
  color: #093566; /* Fallback for older browsers */
  color: rgba(9, 53, 102, 0.65);
  top: -14px;
  left: 10px; 
}

.board .O {
  color: #008AE6; /* Fallback for older browsers */
  color: rgba(0, 138, 230, 0.65);
  top: -14px;
  left: 2px; 
}
  
.example .board .X {
  top: -31px;
  left: 4px; }

.example .board .O {
  top: -31px;
  left: 0px; }

div.cell {
  float: left;
  width: 20px;
  height: 20px;
  border: none;
  margin: 0px;
  padding: 3px;
  font-size: 12pt;
}

.example div.cell {
  width: 13px;
  height: 13px;
  padding: 0px;
  font-size: 9pt;
  font-weight: bold;
}

div.cell.playable {
  background-color: #F0FE9A;
}

div.cell.hover {
  background: #b7ea6c;
}

div.l {
  border-right: 1px solid black;
}

div.c {
}

div.r {
  border-left: 1px solid black;
}

div.t {
  border-bottom: 1px solid black;
}

div.m {
}

div.b {
  border-top: 1px solid black;
}